@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root{
    --cor-primaria: #01E746;
    --cor-secundaria: rgb(19, 18, 18);
    --cor-terciaria: rgb(230, 230, 230);
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
.body{
    height: 110vh;
}
.cabecalho{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
}
.cabecalho__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.cabecalho__menu__botoes{
    text-decoration: none;
    font-family: 'Krona one', sans-serif;
    color: var(--cor-primaria);
    padding: 4% 10%;
    background-color:var(--cor-secundaria);
    border-radius: 10px;

}
.apresentacao{
    height: 80%;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:10%;
}
.apresentacao__home{
    height: 80%;
    background-image: url(./WhatsApp\ Image\ 2023-06-20\ at\ 15.15.46.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:8%;
}
.apresentacao__home__tabela{
    height: 80%;
    background-image: url(./WhatsApp\ Image\ 2023-06-20\ at\ 15.15.46.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.apresentacao__botao{
    background-color: var(--cor-primaria);
    text-decoration: none;
    font-family: 'Krona one', sans-serif;
    padding: 15px 30px;
    color: var(--cor-terciaria);
    border-radius: 8px;
    /* border: 0.7px solid var(--cor-secundaria); */
}
.apresentacao__home__texto{
    height: 60%;
    width: 40%;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.apresentacao__texto{
    color: var(--cor-terciaria);
    font-family: 'Krona one', sans-serif;
    width: 50%;
    background-color: var(--cor-secundaria);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.apresentacao__home__fundo{
    color: var(--cor-terciaria);
    font-family: 'Krona one', sans-serif;
    width: 50%;
    background-color: var(--cor-secundaria);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;  
}
.apresentacao__container__texto{
    color: var(--cor-terciaria);
    font-family: 'Krona one', sans-serif;
    margin: 10px;
    text-align: justify;
}
.apresentacao__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.apresentacao__menu__botoes{
    text-decoration: none;
    margin-top: 20%;
    padding: 4% 10%;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    color: var(--cor-terciaria);
    text-align: center;
}
.apresentacao__imagem{
    height: 60px;
    width: 60px;
}
.rodape{
    height: 10%;
    background-color: var(--cor-primaria);
    font-family: 'Krona one', sans-serif;
    color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.rodape__imagem{
    height: 30px;
    width: 30px;
}
span{
    color: var(--cor-primaria);
}
table{
    border-collapse: collapse;
    width: 1300px;
}
.titulo{
    width: 1300px;
    padding: 10px 0px;
    text-align: center;
    background-color: var(--cor-primaria);
    border: 1px solid black;
    font-family: 'Krona one', sans-serif;
    font-size: 12px;
}
.semana__head{
    background-color: grey;
    text-align: center;
    padding: 5px 30px;
    border: 1px solid black;
    font-family: 'Krona one', sans-serif;
    font-size: 12px;
}
.semana__preto{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 30px;
    font-family: 'Krona one', sans-serif;
    font-size: 12px;
}
.semana1{
    text-align: center;
    padding: 10px 40px;
    border-right: 2px dotted black;
    border-bottom: 1.5px dotted black;
    font-family: 'Krona one', sans-serif;
    font-size: 12px;
}
.semana2{
   text-align: center; 
   padding: 10px 25px;
   border-right: 2px dotted black;
   border-bottom: 1.5px dotted black;
   font-family: 'Krona one', sans-serif;
   font-size: 12px;
}
.semana3{
   text-align: center;
   padding: 10px 25px;
   border-right: 2px dotted black;
   border-bottom: 1.5px dotted black; 
   font-family: 'Krona one', sans-serif;
   font-size: 12px;
}
.semana4{
   text-align: center;
   padding: 10px 40px;
   border-right: 2px dotted black;
   border-bottom: 1.5px dotted black;
   font-family: 'Krona one', sans-serif;
   font-size: 12px;
}
.semana5{
    text-align: center;
    border-right: 2px dotted black;
   border-bottom: 1.5px dotted black; 
   font-family: 'Krona one', sans-serif;
   font-size: 12px;
}
.botao{
    width: 80px;
    height: 30px;
    margin: 0;
}
.cabecalho__menu__botoes:hover{
    color: #1DA1F2;
    transition: 0.5s;
}
.apresentacao__menu__botoes:hover{
    background-color: #1DA1F2;
    transition: 0.5s; 
}
.apresentacao__botao:hover{
    background-color: rgb(3, 65, 3);
    padding: 20px 30px;
    margin: 60px 80px;
    transform: rotate(360deg);
    transition: 2s;
}